@use "../../Config/variables.scss" as vars;

.ship-details {
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  transition: background-image 5s ease-in-out !important;
  .intro-div {
    height: 100vh !important;
  }
  .ship-menu-custom-divider {
    background-color: vars.$primary;
    height: 3px;
    width: 30px;
  }
  .custom-right-button {
    right: 10px;
  }

  .custom-left-button,
  .custom-right-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 500;
    background-color: transparent;
  }

  .custom-left-button {
    left: 10px;
  }

  .custom-right-button {
    right: 10px;
  }
  .ytp-expand-pause-overlay .ytp-pause-overlay {
    display: none !important;
  }
  .responsive-header-height {
    height: 14vh;
  }
  @media screen and (min-width: 0px) and (max-width: 768px) {
    .responsive-header-height {
      height: 7vh;
    }
  }
}
