$primary: #0054a0;
$success: #33d9b2;
$helper: #63666a8c;
$transparent: transparent;
$bg-grey:#f5f6fa85;
$bg-lightblue:#dff9fb70;
$white: #ffffff;
$off-white: #f8fcfc;
$black: #000000;
$faded-black: rgba(0, 0, 0, 0.664);
$RedHat: "RedHat";
