@use "./Config/variables.scss" as vars;
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888888c2;
  border-radius: 12px;
}
.layout-container {
  min-height: 100vh;
  font-family: vars.$RedHat;
  .custom-carousel-container {
    position: relative;
  }

  .breadcrumb-div {
    height: 70px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .custom-next-button,
  .custom-prev-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    background-color: vars.$white;
  }

  .custom-next-button,
  .custom-prev-button:hover{
    background-color: vars.$white !important;
  }

  .custom-prev-button {
    left: 0;
    margin-left: 45px;
  }

  .custom-next-button {
    right: 0;
    margin-right: 45px;

  }
  .card-button {
    margin-top: 12px;
    font-size: 14px;
    border-radius: 50px;
    height: 37px;
    font-weight: 500;
    box-shadow: none;
  }
  .card-button-default {
    background-color: vars.$transparent;
    color: #fff;
    width: 30%;
    .search-icon {
      font-size: 24px;
      margin-left: 6px;
      margin-bottom: 3px;
      transition: margin 0.2s ease-out;
    }
  }
  .card-button-default:hover {
    color: #fff !important;
    border-color: #fff !important;
    .search-icon {
      margin-left: 12px;
    }
  }
  .card-button-primary {
    background-color: vars.$white;
    color: #000;
  }

  .btn-small {
    width: 175px;
    height: 40px;
  }
  .btn-large {
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .btn-wide {
    height: 40px;
  }
  input {
    font-size: 16px !important;
    font-weight: 500;
  }
  .ant-picker-input input {
    font-size: 16px !important;
    font-weight: 500;
  }
  .intro-common {
    min-height: calc(100vh - 50px);
  }
  .intro-common-small {
    min-height: 280px;
  }
  .full-height {
    height: 100%;
  }
  .full-width {
    width: 100%;
  }
  .pointer {
    cursor: pointer;
  }
  .capitalize {
    text-transform: uppercase;
  }
  .justified {
    text-align: justify;
  }
  .letter-spacing {
    letter-spacing: 1px;
  }
  .common-header-divider {
    height: 7px;
    background-color: #f1f2f6;
    width: 5%;
  }
  .text-align-center {
    text-align: center;
  }
  .book-now-img img {
    height: 400px;
  }
  .no-radius {
    border-radius: 0px !important;
  }
  .no-decoration {
    text-decoration: none;
  }
  //flex css start
  .flex {
    display: flex;
  }
  .center {
    align-items: center;
    justify-content: center;
  }
  .end {
    align-items: center;
    justify-content: flex-end;
  }
  .start {
    align-items: center;
    justify-content: flex-start;
  }
  .start-center {
    justify-content: center;
    align-items: flex-start;
  }
  .center-end {
    justify-content: flex-end;
    align-items: center;
  }
  .center-start {
    justify-content: flex-start;
    align-items: center;
  }
  .top-end {
    align-items: flex-start;
    justify-content: flex-end;
  }
  .bottom-end {
    align-items: flex-end;
    justify-content: flex-end;
  }
  .bottom-start {
    align-items: flex-end;
    justify-content: flex-start;
  }
  .column-bottom-start {
    align-items: flex-start;
    justify-content: flex-end;
  }
  .flex-column {
    flex-direction: column;
  }
  .flex-row {
    flex-direction: row;
  }
  .flex-1 {
    flex: 1;
  }
  .flex-grow-1 {
    flex-grow: 1;
  }
  .space-between {
    justify-content: space-between;
  }
  //flex css end
  //bg color start
  .bg-white {
    background-color: vars.$white;
  }
  .bg-grey{
    background-color: vars.$bg-grey;
  }
  .bg-lightblue{
    background-color: vars.$bg-lightblue;
  }
  .bg-offwhite {
    background-color: vars.$off-white;
  }
  .bg-black {
    background-color: vars.$black;
  }
  .bg-primary {
    background-color: vars.$primary !important;
  }
  //bg color end
  //font color start
  .font-white {
    color: vars.$white;
  }
  .font-black {
    color: vars.$black;
  }
  .font-primary {
    color: vars.$primary;
  }
  .font-helper {
    color: vars.$helper;
  }
  .font-faded-black {
    color: vars.$faded-black;
  }
  .font-link {
    color: #d5f5fc;
  }
  //font color end
  //common margins start
  .mb-42 {
    margin-bottom: 42px;
  }
  .mb-32 {
    margin-bottom: 32px;
  }
  .mb-16 {
    margin-bottom: 16px;
  }
  .mb-8 {
    margin-bottom: 8px;
  }

  .mt-32 {
    margin-top: 32px;
  }
  .mt-16 {
    margin-top: 16px;
  }
  .mt-4 {
    margin-top: 4px;
  }

  .ml-3 {
    margin-left: 3px;
  }

  .mr-8 {
    margin-right: 8px;
  }

  .mh-8 {
    margin: 0px 8px;
  }
  
  .no-margin{
    margin:0px;
  }
  //common margins end
  //common padding start
  .pb-32 {
    padding-bottom: 32px;
  }
  .pt-32 {
    padding-top: 32px;
  }
  .p-24 {
    padding: 24px;
  }
  .ph-24 {
    padding: 0px 24px;
  }
  .column-padding {
    padding: 70px;
  }

  .column-padding-h {
    padding: 0px 70px;
  }
  .no-padding {
    padding: 0px;
  }

  .column-padding-t {
    padding-top: 70px;
  }

  .column-padding-b {
    padding-bottom: 70px;
  }
  //common padding end
  //font-size start
  .large-heading {
    font-size: 48px;
  }
  .heading {
    font-size: 2rem;
  }
  .description-text {
    font-size: 20px;
  }
  .basic-texts {
    font-size: 16px;
  }
  .smaller-texts {
    font-size: 11px;
  }
  //font size end
  //font weight start
  .bold {
    font-weight: bold;
  }
  .bold-800 {
    font-weight: 800;
  }
  .bold-700 {
    font-weight: 700;
  }
  .bold-600 {
    font-weight: 600;
  }
  .bold-500 {
    font-weight: 500;
  }
  .bold-400 {
    font-weight: 400;
  }
  //font weight end
  //img start
  //img end
  //card start
  .sliding-card {
    height: 280px;
  }
  //card end
  //link start
  .white-link {
    text-decoration: none;
    color: vars.$white;
  }
  .black-link {
    text-decoration: none;
    color: vars.$black;
  }
  //link end
  //carousal
  //override start
  .ant-form-item {
    margin-bottom: 0px;
  }
  .slick-prev {
    display: none !important;
  }
  .slick-next {
    display: none !important;
  }
  .ant-drawer-close {
    display: none !important;
  }
  //override end
  //media query start
  @media screen and (max-width: 768px) {
    .heading {
      font-size: 1rem;
    }
    .btn-large {
      width: 70%;
      height: 60px;
    }
    .bold-700 {
      font-weight: 600;
    }
    .bold-500 {
      font-weight: 400;
    }
    .description-text {
      font-size: 15px;
    }
    .basic-texts {
      font-size: 12px;
    }
    .column-padding {
      padding: 30px;
    }
  }
  @media screen and (min-width: 769px) {
    .responsive-column-padding {
      padding-right: 0px;
      padding-left: 0px;
    }
  }
  //media query end
}
